try-import user.bazelrc


build --incompatible_enable_cc_toolchain_resolution
build --enable_platform_specific_config

# Roborio
build:roborio --platforms=@rules_roborio_toolchain//platforms/roborio
# build:roborio --copt=-std=c++17
# build:roborio --crosstool_top=@local_roborio//:compiler
# build:roborio --cpu=roborio
# build:roborio --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
# build:roborio --build_tag_filters=-no-roborio
# build:roborio --test_tag_filters=-no-roborio

# Global
test --test_output=errors
# build --experimental_enable_bzlmod